:root {
  --standard-color: #2a2a2a;
  --body-color: #ffffff;
  --menu-background: #ffffff;
  --menu-border: rgba(42, 42, 42, 0.1);
  --input-background: #ffffff;
  --input-placeholder: #999999;
  --input-border: #4a4a4a;
  --input-label: #808080;
  --title-color: #2a2a2a;
  --step-active: #2a2a2a;
  --step-checked: #333333;
  --step-undone: #afb1bd;
  --radio-checked: #2a2a2a;
  --radio-disable: #f0f0f5;
  --radio: #222222;
  --delivery-font: #000000;
  --delivery-span: #000000;
  --cart-font: #000000;
  --cart-border: #f0f0f5;
  --cart-background: #ffffff;
  --cart-radius: #f0f0f5;
  --form-border: #e6e6eb;
  --font-color: #2a2a2a;
  --button-next: #f67599;
  --button-font: #ffffff;
  --button-prev-font: #000000;
  --color: #000000;
  --white: #ffffff;
  --footer-background: #f0f0f5;
  --footer-title: #2a2a2a;
  --footer-font: #808080;
  --logo-url: url(https://i.imgur.com/in96d7T.jpg);
  --dark-url: url(https://imgur.com/BSlRwfP.jpg);
  --search-url: url(https://imgur.com/6gcKDFp.jpg);
  --cart-url: url(https://i.imgur.com/Y7rSfmr.jpg);
}

[data-theme="dark"] {
  --standard-color: #ffffff;
  --menu-background: #000000;
  --menu-border: rgba(240, 240, 245, 0.4);
  --body-color: #000000;
  --input-background: #000000;
  --input-placeholder: #999999;
  --input-border: #5e5e5e;
  --input-label: rgba(255, 255, 255, 0.4);
  --title-color: #ffffff;
  --step-active: #ffffff;
  --step-checked: #333333;
  --step-undone: #2a2a2a;
  --radio-checked: #ffffff;
  --radio-disable: #5e5e5e;
  --radio: #333333;
  --delivery-font: #ffffff;
  --delivery-span: rgba(255, 255, 255, 0.4);
  --cart-border: rgba(255, 255, 255, 0.2);
  --cart-background: #383838;
  --cart-radius: #808080;
  --cart-font: #ffffff;
  --form-border: rgba(255, 255, 255, 0.2);
  --font-color: #ffffff;
  --button-next: #f67599;
  --button-font: #ffffff;
  --button-prev-font: #ffffff;
  // --color: #ffffff;
  --white: #ffffff;
  --footer-background: #333333;
  --footer-title: #ffffff;
  --footer-font: rgba(255, 255, 255, 0.6);
  --logo-url: url(https://i.imgur.com/8oKZxu9.jpg);
  --dark-url: url(https://imgur.com/pDmP679.jpg);
  --search-url: url(https://imgur.com/oRomQ8O.jpg);
  --cart-url: url(https://imgur.com/RNCGUyr.jpg);
}